<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


        <form method="POST" action="{{url_for('getURL')}}">
            <dev class="mn" style="height: 20rem">
                <h1>linki buraya ekleyiniz</h1>
                 <input type=text name="url" placeholder="url bağlantısını gir" style="margin-bottom: 2rem"
                                    value="{{request.form.url}}" required size=90 />
                <input class=btn type=submit style="width: 8rem;height: 3rem"
							value="Url kontrol et" />
               <tr>
						<td align="center">{% if error %} {% if error == 'yasal'
							%}
							<p style="color: green;">
								<strong>{{error}}</strong>
							</p> {% else %}
							<p style="color: red;">
								<strong>{{error}}</strong>
							</p> {% endif %} {% endif %}
						</td>
					</tr>
            </dev>
        </form>
</body>
</html>